/* Base Layout */

.chat-room {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 3px 10px #666;
}

/* Header */

.header {
  background-color: rgb(16, 183, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
}

.header-logo {
  width: 70%;
}

.sign-out-button {
  outline: none;
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  color: rgb(125, 125, 125);
  border: none;
  border-radius: 10px;
}

.sign-out-button:hover {
  opacity: 0.7;
}

/* Messages */

.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.outer-message-container {
  display: flex;
  margin: 2px;
}

.inner-message-container {
  word-wrap: break-word;
  border-radius: 10px;
  margin: 1px;
  padding: 10px;
  color: white;
  background-color: rgb(74, 74, 74);
  max-width: 70%;
}

.time-stamp {
  color: white;
  float: right;
  font-size: small;
  float: inline-end;
  margin-left: 10px;
  margin-top: 10px;
}

/* Conditional Styles */

.message-out {
  justify-content: flex-end;
}

.broadcast {
  justify-content: center;
  font-size: 0.8em;
  font-style: italic;
}

.username {
  font-weight: bolder;
  letter-spacing: 0.8px;
}

.message-out-background {
  background-color: rgb(16, 183, 255);
}

.hidden {
  display: none;
}

.broadcast-background {
  background-color: rgb(122, 125, 125);
}

/* Message Input */

.message-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(220, 220, 220);
  height: 50px;
}

.message-input {
  font-size: 1.2em;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  width: 70%;
}

.message-input:focus {
  outline: none;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: rgb(16, 183, 255);
  border-radius: 50%;
  font-size: 1.5em;
  border: none;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 1px #666;
  height: 40px;
  width: 40px;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  box-shadow: 0px 0px 1px #666;
  transform: translateY(1px);
}
